<div class="container">
  <div class="row">

    <h3>Movie #<%= @movie.id %></h3>
  </div>

  <div class="row">
    <div class="col-md-3">
      <img src="<%= @movie.image_url %>" width="250" />
    </div>

    <div class="col-md-8">
      <table class="table">
        <tr>
          <th>
            Title:
          </th>
          <td>
            <%= @movie.title %>
          </td>
        </tr>

        <tr>
          <th>
            Year:
          </th>
          <td>
            <%= @movie.year %>
          </td>
        </tr>

        <tr>
          <th>
            Duration:
          </th>
          <td>
            <%= @movie.duration %> minutes
          </td>
        </tr>

        <tr>
          <th>
            Description:
          </th>
          <td>
            <%= @movie.description %>
          </td>
        </tr>

        <tr>
          <th>
            Director ID:
          </th>
          <td>
            <%= @movie.director_id %>
          </td>
        </tr>

      </table>
    </div>
  </div>
</div>
