<div class="container">
  <div class="row">
    <a href="/new_director" class="btn btn-primary">Add New Director</a>
  </div>
  <div class="row">

    <table class="table">
      <tr>
        <th>
          Image
        </th>
        <th>
          DOB
        </th>
        <th>
          Name
        </th>
      </tr>

      <% @alldirectors.each do |director| %>
      <tr>
        <td>
          <img src="<%= director.image_url %>" height=70 />
        </td>
        <td>
          <%= director.dob %>
        </td>
        <td>
          <%= director.name %>
        </td>
        <td>
          <a href="/directors/<%= director.id %>">Profile</a>
          <a href="/directors/<%= director.id %>/edit">Edit</a>
          <a href="/directors/<%= director.id %>/delete">Delete</a>
        </td>
      </tr>
      <% end %>

      </table>
    </div>
</div>
